{{!-- ***4 --}}
{{!-- our burger content that will be inserted into our main.handlebars placeholder  --}}



<div class="jumbotron jumbotron-fluid jumbo-1">
    <div class="head-cont container">
        <h5 class="display-4"> Track your burger intake </h5>
        <br>
        <p class="lead">
            Use this app to keep track of the burgers on your "TO EAT LIST". Move them up the chart as you move
            through
            all the burgers in your city to devour.
        </p>
        <h2>Add a Burger</h2>
        <form class="create-form">

            <div class="form-group">
                {{!-- <label for="burger">Burger:</label> --}}
                <input type="text" id="burger" name="name">
            </div>

            <button class="btn btn-success" type="submit">Add Burger</button>
        </form>
    </div>
</div>


<div class="jumbotron jumbotron-fluid jumbo-2">
    <div class="head-cont container">
        <h6 class="display-4"> BURGERS YOU HAVE ALREADY DESTROYED </h6>
        <br>

        {{!-- Is from the controller, callback data-object in burgerModel.all, that is from the model burger.js --}}
        {{#each burgers}}
        {{#if devoured}}
        <div>
            {{!-- this is just the key_name of the data object from the table of burgers --}}
            {{burger_name}}
            <br>
            <button type="button" data-id="{{id}}" data-eatBurger="{{devoured}}" class="destroy-btn btn btn-danger">
                Destroy
                da Burger </button>
        </div>
        {{/if}}
        {{/each}}

    </div>
</div>


<div class="jumbotron jumbotron-fluid jumbo-3">
    <div class="head-cont container">
        <h6 class="display-4"> BURGERS THAT STILL NEED DESTROYING </h6>

        <br>

        {{#each burgers}}

        {{#unless devoured}}

        <div>
            {{!-- this is just the key_name of the data object from the table of burgers --}}
            {{this.burger_name}}
            <br>
            <button type="button" data-id="{{this.id}}" data-eatBurger="{{devoured}}"
                class="devour-btn btn btn-primary">
                Devour
                da Burger </button>
        </div>

        {{/unless}}

        {{/each}}

        </ul>



    </div>
</div>